
//ligth mode...
$body-ligth: #F7F1E5;
$aside-ligth: #898121; 
$Text-ligth: #272829; 
$dark-ligth: #4C4B16; 
$dark-shadow-ligth: #4c4b1627;
$Title-and-selected-ligth: #E7B10A;

//dark mode...
$body-dark: #282A3A;
$aside-dark: #735f32; 
$Text-dark: #eeeeeeee; 
$dark-dark: #4C4B16; 
$dark-shadow-dark: #4c4b1627;
$Title-and-selected-dark: #E7B10A;